## Random Forest Classifier

In [65]:
import pandas as pd
import plotly.express as plt
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt

In [66]:
df =pd.read_csv("Travel.csv")
df

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

### Data Cleaning

In [67]:
## chekcing null values
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [68]:
import numpy as np
ind =0
for i in df.columns:
    if type(df.loc[:, i])==object:
        print(i)


    ind +=1

In [69]:
df.loc[:, "MonthlyIncome"]

0       20993.0
1       20130.0
2       17090.0
3       17909.0
4       18468.0
         ...
4883    26576.0
4884    21212.0
4885    31820.0
4886    20289.0
4887    24041.0
Name: MonthlyIncome, Length: 4888, dtype: float64

In [70]:
df["Gender"].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [71]:
df["Gender"].replace("Fe Male", "Female", inplace =True)

C:\Users\faiqi\AppData\Local\Temp\ipykernel_7072\1375468140.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Gender"].replace("Fe Male", "Female", inplace =True)

In [72]:
df["Gender"].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [73]:
df["MaritalStatus"].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [74]:
df["MaritalStatus"].replace("Single", "Unmarried", inplace=True)

C:\Users\faiqi\AppData\Local\Temp\ipykernel_7072\3994745670.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["MaritalStatus"].replace("Single", "Unmarried", inplace=True)

In [75]:
df["MaritalStatus"].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

### Imputing Null Values

In [76]:
# checking cols with null values
features_with_na =[f for f in df.columns if df[f].isnull().sum()>=1]
features_with_na

['Age',
 'TypeofContact',
 'DurationOfPitch',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'NumberOfChildrenVisiting',
 'MonthlyIncome']

In [77]:
df

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Unmarried,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Unmarried,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [78]:


#Age
df.Age.fillna(df.Age.median(), inplace=True)

#TypeofContract
df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace=True)

#DurationOfPitch
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

#NumberOfFollowups
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0], inplace=True)

#PreferredPropertyStar
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace=True)

#NumberOfTrips
df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)

#NumberOfChildrenVisiting
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0], inplace=True)

#MonthlyIncome
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

C:\Users\faiqi\AppData\Local\Temp\ipykernel_7072\700678725.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Age.fillna(df.Age.median(), inplace=True)
C:\Users\faiqi\AppData\Local\Temp\ipykernel_7072\700678725.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace=True)
C:\Users\faiqi\AppData\Local\Temp\ipykernel_7072\700678725.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)
C:\Users\faiqi\AppData\Local\Temp\ipykernel_7072\700678725.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0], inplace=True)
C:\Users\faiqi\AppData\Local\Temp\ipykernel_7072\700678725.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace=True)
C:\Users\faiqi\AppData\Local\Temp\ipykernel_7072\700678725.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)
C:\Users\faiqi\AppData\Local\Temp\ipykernel_7072\700678725.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0], inplace=True)

In [79]:
df.drop("CustomerID", axis=1, inplace=True)

## Feature Engineering

In [80]:
# create new column for feature
df['TotalVisiting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfPersonVisiting', 'NumberOfChildrenVisiting'], axis=1, inplace=True)

### Train Test Split

In [81]:
X =df.drop("ProdTaken", axis=1)
Y =df["ProdTaken"]

In [82]:
Y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [83]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test =train_test_split(X, Y, test_size=0.2, random_state=42)

## Column Transformer

In [84]:
cat =X.select_dtypes(include ="object").columns
num =X.select_dtypes(exclude="object").columns
# no need standard scaler in this case actually
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
standscaler =StandardScaler()
onehotencoder =OneHotEncoder(drop ="first")
preprocessor =ColumnTransformer([
    ("OneHotEncoder", onehotencoder, cat),
    ("StandardScaler", standscaler, num)
])

In [85]:
# applying on training data
X_train =preprocessor.fit_transform(X_train)
X_train

array([[ 1.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.38224537, -0.77415132],
       [ 1.        ,  0.        ,  1.        , ...,  0.78296635,
        -0.4597992 ,  0.64361526],
       [ 1.        ,  1.        ,  0.        , ...,  0.78296635,
        -0.24519557, -0.06526803],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.36057591,  0.64361526],
       [ 1.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.25279888,  0.64361526],
       [ 0.        ,  0.        ,  1.        , ..., -1.2771941 ,
        -1.08251091, -1.48303461]])

In [86]:
# applying on test data
X_test =preprocessor.transform(X_test)
X_test

array([[ 0.        ,  0.        ,  0.        , ..., -1.2771941 ,
        -0.73751038, -0.77415132],
       [ 1.        ,  0.        ,  0.        , ..., -1.2771941 ,
        -0.6704111 , -0.06526803],
       [ 1.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.4208322 , -0.77415132],
       ...,
       [ 0.        ,  1.        ,  0.        , ...,  0.78296635,
         0.69001249,  0.64361526],
       [ 1.        ,  0.        ,  0.        , ...,  0.78296635,
        -0.22827818, -0.77415132],
       [ 1.        ,  1.        ,  0.        , ...,  0.78296635,
        -0.44611323,  2.06138184]])

## Training Random Forest Classifier Model

In [87]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score

In [88]:
models ={"Random Forest": RandomForestClassifier(), "Decison Tree":DecisionTreeClassifier() }
for i in range(len(list(models))):
    model =list(models.values())[i]


    
    model.fit(X_train, Y_train)


    # making pred
    y_pred_train =model.predict(X_train)
    y_pred_test  =model.predict(X_test)


    print(list(models.keys())[i])
    print("Model Performance for Trainning Data")
    print("Accuracy: ", accuracy_score(Y_train, y_pred_train))
    print("F1 Score: ", f1_score(Y_train, y_pred_train))
    print("Precision Score", precision_score(Y_train, y_pred_train))
    print("Recall Score", recall_score(Y_train, y_pred_train))
    print("Roc Auc Score: ", roc_auc_score(Y_train, y_pred_train))

    print("Model Performance for Testing Data")
    print("Accuracy: ", accuracy_score(Y_test, y_pred_test))
    print("F1 Score: ", f1_score(Y_test, y_pred_test))
    print("Precision Score", precision_score(Y_test, y_pred_test))
    print("Recall Score", recall_score(Y_test, y_pred_test))
    print("Roc Auc Score: ", roc_auc_score(Y_test, y_pred_test))

Random Forest
Model Performance for Trainning Data
Accuracy:  1.0
F1 Score:  1.0
Precision Score 1.0
Recall Score 1.0
Roc Auc Score:  1.0
Model Performance for Testing Data
Accuracy:  0.9274028629856851
F1 Score:  0.7760252365930599
Precision Score 0.9761904761904762
Recall Score 0.643979057591623
Roc Auc Score:  0.8200835567500682
Decison Tree
Model Performance for Trainning Data
Accuracy:  1.0
F1 Score:  1.0
Precision Score 1.0
Recall Score 1.0
Roc Auc Score:  1.0
Model Performance for Testing Data
Accuracy:  0.9212678936605317
F1 Score:  0.7913279132791328
Precision Score 0.8202247191011236
Recall Score 0.7643979057591623
Roc Auc Score:  0.8618685843916523

## HyperParameter Tunning

In [99]:
params ={"max_depth": [5, 8, 15, None, 10],
         "max_features": [5, 7, "auto", 8] ,
         "min_samples_split": [2, 8, 15, 20],
         "n_estimators": [100, 200, 500, 1000]}

In [100]:
# model list for hyperparamter tunning
modelcv =[("RF", RandomForestClassifier(), params)]

In [101]:
from sklearn.model_selection import RandomizedSearchCV
bestparams ={}
for name, model, para in modelcv:
    rd = RandomizedSearchCV(estimator=model, param_distributions=para, n_iter=100, cv =3, verbose=2, n_jobs=-1)
    rd.fit(X_train, Y_train)
    bestparams[name] = rd.best_params_

for model, bestparames in bestparams.items():
    print(model)
    print(bestparames)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

C:\Users\faiqi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
60 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
51 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\faiqi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\faiqi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\faiqi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\faiqi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
9 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\faiqi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\faiqi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\faiqi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\faiqi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\faiqi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\model_selection\_search.py:1052: UserWarning: One or more of the test scores are non-finite: [0.8902821  0.86700779        nan 0.89130499 0.87289086 0.88516609
 0.86214838 0.87288988        nan 0.91406766        nan 0.86470678
 0.90537077 0.91278856 0.86521803 0.88951425 0.8841438  0.86572908
 0.84424629        nan 0.88900339 0.84399125 0.86035765 0.91304438
 0.87723842        nan        nan 0.91176587 0.8457818  0.86649615
        nan 0.91023056 0.88388856 0.87493703 0.91381204        nan
 0.83580639 0.86803126        nan 0.88516766 0.86393952 0.8360626
 0.88951484 0.86138289 0.86419514 0.86930977 0.8915614         nan
        nan 0.87851615        nan 0.8731457  0.91227633        nan
 0.87007723 0.84347981 0.85473314 0.88056232        nan 0.87493605
 0.88337712 0.87365773 0.89079354 0.86931017        nan        nan
 0.88005107 0.91304458 0.8841438  0.86163753 0.84143345 0.8659849
        nan 0.89309455 0.86752001 0.86189355 0.87340211 0.84603742
 0.86214858        nan 0.86879833 0.86163773 0.8695654  0.87340191
 0.84424688 0.88337653 0.86700759 0.86445116 0.85473275 0.86828669
 0.86752001 0.88925882 0.86649673 0.86547267 0.86087105 0.87800471
        nan        nan 0.87135555 0.86521803]
  warnings.warn(

RF
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 7, 'max_depth': 15}

In [106]:
y_pred =rd.predict(X_test)

In [107]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, y_pred))

0.9263803680981595

In [110]:
# training model with hyperparameters
models ={"Random Forest": RandomForestClassifier(n_estimators =100, min_samples_split = 2, max_features = 7,max_depth =15) }
for i in range(len(list(models))):
    model =list(models.values())[i]


    
    model.fit(X_train, Y_train)


    # making pred
    y_pred_train =model.predict(X_train)
    y_pred_test  =model.predict(X_test)


    print("Model Performance for Testing Data")
    print("Accuracy: ", accuracy_score(Y_test, y_pred_test))
    print("F1 Score: ", f1_score(Y_test, y_pred_test))
    print("Precision Score", precision_score(Y_test, y_pred_test))
    print("Recall Score", recall_score(Y_test, y_pred_test))
    print("Roc Auc Score: ", roc_auc_score(Y_test, y_pred_test))

Model Performance for Testing Data
Accuracy:  0.9294478527607362
F1 Score:  0.7876923076923077
Precision Score 0.9552238805970149
Recall Score 0.6701570680628273
Roc Auc Score:  0.831266589939927