In [423]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [424]:
## loading the dataset
data =pd.read_csv("Churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [425]:
# dropiing unesseccary col
data =data.drop(columns=["RowNumber", "CustomerId", "Surname"], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [426]:
# encoding gender col
label =LabelEncoder()
data["Gender"] =label.fit_transform(data["Gender"])

In [427]:
geo =np.array(data["Geography"]).reshape(len(np.array(data["Geography"])), 1)

In [428]:
ohe =OneHotEncoder()
ohe_cols =ohe.fit_transform(geo)
ohe_cols

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [429]:
df =pd.DataFrame(ohe_cols.toarray(), columns= ohe.get_feature_names_out())
df

      x0_France  x0_Germany  x0_Spain
0           1.0         0.0       0.0
1           0.0         0.0       1.0
2           1.0         0.0       0.0
3           1.0         0.0       0.0
4           0.0         0.0       1.0
...         ...         ...       ...
9995        1.0         0.0       0.0
9996        1.0         0.0       0.0
9997        1.0         0.0       0.0
9998        0.0         1.0       0.0
9999        1.0         0.0       0.0

[10000 rows x 3 columns]

In [430]:
len(df)==len(data)

True

In [431]:
data.drop(columns=["Geography"], inplace=True)
data =pd.concat([data, df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,x0_France,x0_Germany,x0_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [432]:
## saveing the state of encode decoder
with open("labelencoder_gender.pkl", "wb") as f:
    pickle.dump(label, f)

with open("onehotencoder_geography.pkl", "wb") as f:
    pickle.dump(ohe, f)

In [433]:
# divide the independent and dependent dataset
X =data.drop("Exited", axis=1)
Y =data["Exited"]

In [434]:
# test train spit
X_train, X_test, Y_train, Y_test =train_test_split(X, Y, test_size=0.2, random_state=42)
# standard scale
standardscaler =StandardScaler()
X_train =standardscaler.fit_transform(X_train)
X_test =standardscaler.transform(X_test)

In [435]:
with open("standardscaler.pkl", "wb") as f:
    pickle.dump(standardscaler, f)

### ANN implementation

In [436]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
import datetime

In [437]:
## Building ANN Model

model =Sequential([
    Dense(64, activation="relu", input_shape =(X_train.shape[1],)), #hl1 connected with input layer
    Dense(32, activation="relu"), # hl2
    Dense(1, activation="sigmoid") #outputlayer
])

c:\Users\faiqi\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [438]:
## getting summary of model
model.summary()

Model: "sequential_11"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_33 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_34 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_35 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [439]:
## compile the model
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [440]:
## setup the tensorboard
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
dir ="logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback =TensorBoard(log_dir =dir, histogram_freq=1)

In [441]:
earlystop_callback =EarlyStopping(monitor="val-lose", patience=10,mode ="min", restore_best_weights=True)

In [442]:
## Trainng the model
history =model.fit(X_train, Y_train, validation_data=(X_test, Y_test), epochs=100)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - accuracy: 0.7819 - loss: 0.4958 - val_accuracy: 0.8295 - val_loss: 0.3940
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8312 - loss: 0.4003 - val_accuracy: 0.8540 - val_loss: 0.3563
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8564 - loss: 0.3604 - val_accuracy: 0.8570 - val_loss: 0.3464
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8583 - loss: 0.3449 - val_accuracy: 0.8570 - val_loss: 0.3475
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8558 - loss: 0.3438 - val_accuracy: 0.8540 - val_loss: 0.3439
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8621 - loss: 0.3396 - val_accuracy: 0.8595 - val_loss: 0.3421
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8628 - loss: 0.3274 - val_accuracy: 0.8585 - val_loss: 0.3407
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8581 - loss: 0.3292 - val_accuracy: 0.8580 - val_loss: 0.3413
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8620 - loss: 0.3324 - val_accuracy: 0.8630 - val_loss: 0.3430
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8703 - loss: 0.3199 - val_accuracy: 0.8565 - val_loss: 0.3442
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8676 - loss: 0.3131 - val_accuracy: 0.8580 - val_loss: 0.3394
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8643 - loss: 0.3208 - val_accuracy: 0.8625 - val_loss: 0.3416
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8687 - loss: 0.3134 - val_accuracy: 0.8600 - val_loss: 0.3388
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8641 - loss: 0.3237 - val_accuracy: 0.8565 - val_loss: 0.3397
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8712 - loss: 0.3109 - val_accuracy: 0.8575 - val_loss: 0.3414
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - accuracy: 0.8740 - loss: 0.3078 - val_accuracy: 0.8635 - val_loss: 0.3410
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8678 - loss: 0.3187 - val_accuracy: 0.8590 - val_loss: 0.3431
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8701 - loss: 0.3162 - val_accuracy: 0.8655 - val_loss: 0.3418
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8685 - loss: 0.3078 - val_accuracy: 0.8625 - val_loss: 0.3399
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8760 - loss: 0.2987 - val_accuracy: 0.8585 - val_loss: 0.3382
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8663 - loss: 0.3098 - val_accuracy: 0.8620 - val_loss: 0.3376
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8683 - loss: 0.3060 - val_accuracy: 0.8535 - val_loss: 0.3517
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8727 - loss: 0.2993 - val_accuracy: 0.8585 - val_loss: 0.3458
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8773 - loss: 0.3000 - val_accuracy: 0.8615 - val_loss: 0.3429
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8748 - loss: 0.2967 - val_accuracy: 0.8615 - val_loss: 0.3443
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.8760 - loss: 0.3017 - val_accuracy: 0.8610 - val_loss: 0.3502
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8678 - loss: 0.3106 - val_accuracy: 0.8625 - val_loss: 0.3438
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8768 - loss: 0.2899 - val_accuracy: 0.8630 - val_loss: 0.3465
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8717 - loss: 0.2965 - val_accuracy: 0.8565 - val_loss: 0.3523
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8745 - loss: 0.2963 - val_accuracy: 0.8580 - val_loss: 0.3463
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8776 - loss: 0.2896 - val_accuracy: 0.8550 - val_loss: 0.3559
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - accuracy: 0.8826 - loss: 0.2926 - val_accuracy: 0.8610 - val_loss: 0.3459
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8817 - loss: 0.2831 - val_accuracy: 0.8600 - val_loss: 0.3460
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8776 - loss: 0.2848 - val_accuracy: 0.8600 - val_loss: 0.3480
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8804 - loss: 0.2786 - val_accuracy: 0.8505 - val_loss: 0.3526
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8813 - loss: 0.2842 - val_accuracy: 0.8585 - val_loss: 0.3510
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8738 - loss: 0.2958 - val_accuracy: 0.8575 - val_loss: 0.3495
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8844 - loss: 0.2754 - val_accuracy: 0.8580 - val_loss: 0.3501
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8784 - loss: 0.2820 - val_accuracy: 0.8590 - val_loss: 0.3529
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8847 - loss: 0.2823 - val_accuracy: 0.8595 - val_loss: 0.3503
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8713 - loss: 0.2908 - val_accuracy: 0.8495 - val_loss: 0.3633
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8751 - loss: 0.2914 - val_accuracy: 0.8555 - val_loss: 0.3514
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8824 - loss: 0.2784 - val_accuracy: 0.8500 - val_loss: 0.3529
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8878 - loss: 0.2714 - val_accuracy: 0.8580 - val_loss: 0.3579
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8839 - loss: 0.2695 - val_accuracy: 0.8560 - val_loss: 0.3571
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8830 - loss: 0.2715 - val_accuracy: 0.8600 - val_loss: 0.3589
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8815 - loss: 0.2743 - val_accuracy: 0.8510 - val_loss: 0.3619
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8848 - loss: 0.2738 - val_accuracy: 0.8485 - val_loss: 0.3616
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8762 - loss: 0.2823 - val_accuracy: 0.8565 - val_loss: 0.3618
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8855 - loss: 0.2689 - val_accuracy: 0.8535 - val_loss: 0.3610
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8892 - loss: 0.2698 - val_accuracy: 0.8560 - val_loss: 0.3633
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8828 - loss: 0.2673 - val_accuracy: 0.8580 - val_loss: 0.3627
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8857 - loss: 0.2691 - val_accuracy: 0.8605 - val_loss: 0.3693
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8868 - loss: 0.2653 - val_accuracy: 0.8485 - val_loss: 0.3715
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8816 - loss: 0.2767 - val_accuracy: 0.8575 - val_loss: 0.3615
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8885 - loss: 0.2614 - val_accuracy: 0.8460 - val_loss: 0.3716
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8894 - loss: 0.2607 - val_accuracy: 0.8510 - val_loss: 0.3702
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8835 - loss: 0.2700 - val_accuracy: 0.8555 - val_loss: 0.3725
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8867 - loss: 0.2670 - val_accuracy: 0.8535 - val_loss: 0.3706
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8872 - loss: 0.2672 - val_accuracy: 0.8490 - val_loss: 0.3766
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8886 - loss: 0.2700 - val_accuracy: 0.8525 - val_loss: 0.3698
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8850 - loss: 0.2652 - val_accuracy: 0.8460 - val_loss: 0.3810
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - accuracy: 0.8878 - loss: 0.2603 - val_accuracy: 0.8510 - val_loss: 0.3710
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8871 - loss: 0.2652 - val_accuracy: 0.8520 - val_loss: 0.3778
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8940 - loss: 0.2573 - val_accuracy: 0.8540 - val_loss: 0.3739
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8934 - loss: 0.2532 - val_accuracy: 0.8425 - val_loss: 0.3809
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8880 - loss: 0.2597 - val_accuracy: 0.8510 - val_loss: 0.3816
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8899 - loss: 0.2658 - val_accuracy: 0.8515 - val_loss: 0.3802
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8906 - loss: 0.2548 - val_accuracy: 0.8545 - val_loss: 0.3820
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8938 - loss: 0.2525 - val_accuracy: 0.8565 - val_loss: 0.3864
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8899 - loss: 0.2559 - val_accuracy: 0.8540 - val_loss: 0.3759
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8943 - loss: 0.2518 - val_accuracy: 0.8445 - val_loss: 0.3881
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8890 - loss: 0.2562 - val_accuracy: 0.8505 - val_loss: 0.3865
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8864 - loss: 0.2624 - val_accuracy: 0.8480 - val_loss: 0.3848
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8935 - loss: 0.2484 - val_accuracy: 0.8470 - val_loss: 0.3878
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8911 - loss: 0.2615 - val_accuracy: 0.8490 - val_loss: 0.3871
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8911 - loss: 0.2604 - val_accuracy: 0.8575 - val_loss: 0.3870
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8955 - loss: 0.2482 - val_accuracy: 0.8455 - val_loss: 0.3937
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8914 - loss: 0.2497 - val_accuracy: 0.8520 - val_loss: 0.3886
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8968 - loss: 0.2463 - val_accuracy: 0.8475 - val_loss: 0.3896
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.8998 - loss: 0.2388 - val_accuracy: 0.8505 - val_loss: 0.3907
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9035 - loss: 0.2310 - val_accuracy: 0.8480 - val_loss: 0.3924
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8963 - loss: 0.2414 - val_accuracy: 0.8390 - val_loss: 0.4024
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8907 - loss: 0.2442 - val_accuracy: 0.8470 - val_loss: 0.3925
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8980 - loss: 0.2424 - val_accuracy: 0.8360 - val_loss: 0.3994
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8956 - loss: 0.2423 - val_accuracy: 0.8530 - val_loss: 0.3986
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8962 - loss: 0.2379 - val_accuracy: 0.8385 - val_loss: 0.4028
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8943 - loss: 0.2423 - val_accuracy: 0.8385 - val_loss: 0.3992
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9015 - loss: 0.2309 - val_accuracy: 0.8340 - val_loss: 0.4080
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8925 - loss: 0.2490 - val_accuracy: 0.8555 - val_loss: 0.4002
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8937 - loss: 0.2436 - val_accuracy: 0.8455 - val_loss: 0.4037
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8991 - loss: 0.2328 - val_accuracy: 0.8430 - val_loss: 0.4043
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8944 - loss: 0.2447 - val_accuracy: 0.8460 - val_loss: 0.3986
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8956 - loss: 0.2440 - val_accuracy: 0.8500 - val_loss: 0.4039
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8960 - loss: 0.2459 - val_accuracy: 0.8405 - val_loss: 0.4067
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8991 - loss: 0.2331 - val_accuracy: 0.8600 - val_loss: 0.4058
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8996 - loss: 0.2324 - val_accuracy: 0.8505 - val_loss: 0.4272
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9002 - loss: 0.2384 - val_accuracy: 0.8525 - val_loss: 0.4085
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8936 - loss: 0.2440 - val_accuracy: 0.8430 - val_loss: 0.4044
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9012 - loss: 0.2379 - val_accuracy: 0.8415 - val_loss: 0.4113

In [443]:
model.save("model.keras")

In [444]:
from tensorflow.keras.models import load_model

In [445]:
### Making prediction
model =load_model("model.h5")
#loading scaler 
with open("standardscaler.pkl", "rb") as f:
    standard =pickle.load(f)
with open("labelencoder_gender.pkl", "rb") as f:
    labelencoder =pickle.load(f)
with open("onehotencoder_geography.pkl", "rb") as f:
    ohe = pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [446]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,x0_France,x0_Germany,x0_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [447]:
# Example input data
inputdata ={
    "CreditScore": 619,
    "Geography": "France",
    "Gender": "Female",
    "Age": 42,
    "Tenure": 2,
    "Balance": 0.00,
    "NumOfProducts": 1,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "EstimatedSalary": 101348.88


}

In [448]:
geo =ohe.transform(np.array(inputdata["Geography"]).reshape(1,1)).toarray()
geo

array([[1., 0., 0.]])

In [449]:
geo =pd.DataFrame(geo, columns=ohe.get_feature_names_out())
geo

   x0_France  x0_Germany  x0_Spain
0        1.0         0.0       0.0

In [450]:
gen =label.transform(np.array(inputdata["Gender"]).reshape(1,1))
gen

c:\Users\faiqi\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [451]:
gen =pd.DataFrame(gen , columns=["Gender"])
gen

   Gender
0       0

In [452]:
input_df =pd.DataFrame({
    "CreditScore": [619],
    "Geography": ["France"],
    "Gender": ["Female"],
    "Age": [42],
    "Tenure": [2],
    "Balance": [0.00],
    "NumOfProducts": [1],
    "HasCrCard": [1],
    "IsActiveMember": [1],
    "EstimatedSalary": [101348.88]


})
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.0,1,1,1,101348.88

In [453]:
input_df.drop(columns =["Geography", "Gender"], inplace =True)

In [454]:
input_df =pd.concat([input_df, geo, gen], axis =1)
input_df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,x0_France,x0_Germany,x0_Spain,Gender
0,619,42,2,0.0,1,1,1,101348.88,1.0,0.0,0.0,0

In [455]:


input_df =pd.concat([pd.DataFrame(input_df.iloc[:,0]), pd.DataFrame(input_df.iloc[:,-1]), pd.DataFrame(input_df.iloc[:,1:-1])], axis =1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,x0_France,x0_Germany,x0_Spain
0,619,0,42,2,0.0,1,1,1,101348.88,1.0,0.0,0.0

In [456]:
input_df =standard.transform(input_df)
input_df

array([[-0.33880827, -1.09499335,  0.29493847, -1.04241787, -1.21847056,
        -0.91668767,  0.64920267,  0.97481699,  0.01595384,  1.00150113,
        -0.57946723, -0.57638802]])

In [457]:
model.predict(input_df)

WARNING:tensorflow:5 out of the last 8 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x000001AA7573F560> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

WARNING:tensorflow:5 out of the last 8 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x000001AA7573F560> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 229ms/step

array([[0.27427602]], dtype=float32)