In [274]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [275]:
## loading the dataset
data =pd.read_csv("Churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [276]:
# dropiing unesseccary col
data =data.drop(columns=["RowNumber", "CustomerId", "Surname"], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [277]:
# encoding gender col
label =LabelEncoder()
data["Gender"] =label.fit_transform(data["Gender"])

In [278]:
geo =np.array(data["Geography"]).reshape(len(np.array(data["Geography"])), 1)

In [279]:
ohe =OneHotEncoder()
ohe_cols =ohe.fit_transform(geo)
ohe_cols

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [280]:
df =pd.DataFrame(ohe_cols.toarray(), columns= ohe.get_feature_names_out())
df

      x0_France  x0_Germany  x0_Spain
0           1.0         0.0       0.0
1           0.0         0.0       1.0
2           1.0         0.0       0.0
3           1.0         0.0       0.0
4           0.0         0.0       1.0
...         ...         ...       ...
9995        1.0         0.0       0.0
9996        1.0         0.0       0.0
9997        1.0         0.0       0.0
9998        0.0         1.0       0.0
9999        1.0         0.0       0.0

[10000 rows x 3 columns]

In [281]:
len(df)==len(data)

True

In [282]:
data.drop(columns=["Geography"], inplace=True)
data =pd.concat([data, df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,x0_France,x0_Germany,x0_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [283]:
## saveing the state of encode decoder
with open("labelencoder_gender.pkl", "wb") as f:
    pickle.dump(label, f)

with open("onehotencoder_geography.pkl", "wb") as f:
    pickle.dump(ohe, f)

In [284]:
# divide the independent and dependent dataset
X =data.drop("Exited", axis=1)
Y =data["Exited"]

In [285]:
# test train spit
X_train, X_test, Y_train, Y_test =train_test_split(X, Y, test_size=0.2, random_state=42)
# standard scale
standardscaler =StandardScaler()
X_train =standardscaler.fit_transform(X_train)
X_test =standardscaler.transform(X_test)

In [286]:
with open("standardscaler.pkl", "wb") as f:
    pickle.dump(standardscaler, f)

### ANN implementation

In [287]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
import datetime

In [288]:
## Building ANN Model

model =Sequential([
    Dense(64, activation="relu", input_shape =(X_train.shape[1],)), #hl1 connected with input layer
    Dense(32, activation="relu"), # hl2
    Dense(1, activation="sigmoid") #outputlayer
])

c:\Users\faiqi\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [289]:
## getting summary of model
model.summary()

Model: "sequential_8"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_24 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_25 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_26 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [290]:
## compile the model
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [209]:
## setup the tensorboard
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
dir ="logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback =TensorBoard(log_dir =dir, histogram_freq=1)

In [210]:
earlystop_callback =EarlyStopping(monitor="val-lose", patience=10,mode ="min", restore_best_weights=True)

In [291]:
## Trainng the model
history =model.fit(X_train, Y_train, validation_data=(X_test, Y_test), epochs=100)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7695 - loss: 0.5003 - val_accuracy: 0.8355 - val_loss: 0.3894
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8357 - loss: 0.3999 - val_accuracy: 0.8490 - val_loss: 0.3549
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8508 - loss: 0.3664 - val_accuracy: 0.8590 - val_loss: 0.3466
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8672 - loss: 0.3299 - val_accuracy: 0.8600 - val_loss: 0.3390
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8633 - loss: 0.3264 - val_accuracy: 0.8575 - val_loss: 0.3432
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8632 - loss: 0.3312 - val_accuracy: 0.8615 - val_loss: 0.3370
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8632 - loss: 0.3288 - val_accuracy: 0.8585 - val_loss: 0.3387
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8676 - loss: 0.3261 - val_accuracy: 0.8640 - val_loss: 0.3363
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8654 - loss: 0.3241 - val_accuracy: 0.8580 - val_loss: 0.3387
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8638 - loss: 0.3248 - val_accuracy: 0.8590 - val_loss: 0.3492
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8684 - loss: 0.3220 - val_accuracy: 0.8575 - val_loss: 0.3414
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8648 - loss: 0.3238 - val_accuracy: 0.8620 - val_loss: 0.3382
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8754 - loss: 0.3076 - val_accuracy: 0.8570 - val_loss: 0.3422
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8712 - loss: 0.3073 - val_accuracy: 0.8585 - val_loss: 0.3416
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8756 - loss: 0.3029 - val_accuracy: 0.8590 - val_loss: 0.3369
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8714 - loss: 0.3104 - val_accuracy: 0.8605 - val_loss: 0.3450
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8716 - loss: 0.3104 - val_accuracy: 0.8545 - val_loss: 0.3582
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8784 - loss: 0.2961 - val_accuracy: 0.8570 - val_loss: 0.3462
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8824 - loss: 0.2947 - val_accuracy: 0.8575 - val_loss: 0.3409
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8659 - loss: 0.3055 - val_accuracy: 0.8610 - val_loss: 0.3391
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8712 - loss: 0.3010 - val_accuracy: 0.8595 - val_loss: 0.3427
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8744 - loss: 0.2994 - val_accuracy: 0.8590 - val_loss: 0.3450
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8829 - loss: 0.2871 - val_accuracy: 0.8600 - val_loss: 0.3430
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8790 - loss: 0.2937 - val_accuracy: 0.8610 - val_loss: 0.3475
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8764 - loss: 0.2955 - val_accuracy: 0.8580 - val_loss: 0.3534
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8792 - loss: 0.2857 - val_accuracy: 0.8595 - val_loss: 0.3486
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8811 - loss: 0.2837 - val_accuracy: 0.8560 - val_loss: 0.3516
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8807 - loss: 0.2923 - val_accuracy: 0.8590 - val_loss: 0.3526
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8782 - loss: 0.2872 - val_accuracy: 0.8615 - val_loss: 0.3496
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8848 - loss: 0.2827 - val_accuracy: 0.8570 - val_loss: 0.3525
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8790 - loss: 0.2843 - val_accuracy: 0.8540 - val_loss: 0.3581
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8844 - loss: 0.2840 - val_accuracy: 0.8565 - val_loss: 0.3549
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8885 - loss: 0.2789 - val_accuracy: 0.8570 - val_loss: 0.3589
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8784 - loss: 0.2907 - val_accuracy: 0.8635 - val_loss: 0.3572
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8826 - loss: 0.2816 - val_accuracy: 0.8570 - val_loss: 0.3597
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8784 - loss: 0.2850 - val_accuracy: 0.8585 - val_loss: 0.3650
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8831 - loss: 0.2780 - val_accuracy: 0.8580 - val_loss: 0.3689
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8898 - loss: 0.2713 - val_accuracy: 0.8575 - val_loss: 0.3617
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8882 - loss: 0.2703 - val_accuracy: 0.8600 - val_loss: 0.3660
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8833 - loss: 0.2811 - val_accuracy: 0.8590 - val_loss: 0.3648
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8829 - loss: 0.2713 - val_accuracy: 0.8525 - val_loss: 0.3684
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8829 - loss: 0.2767 - val_accuracy: 0.8575 - val_loss: 0.3654
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8836 - loss: 0.2653 - val_accuracy: 0.8530 - val_loss: 0.3721
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8833 - loss: 0.2670 - val_accuracy: 0.8590 - val_loss: 0.3663
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8814 - loss: 0.2814 - val_accuracy: 0.8520 - val_loss: 0.3690
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8876 - loss: 0.2677 - val_accuracy: 0.8580 - val_loss: 0.3700
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8879 - loss: 0.2685 - val_accuracy: 0.8585 - val_loss: 0.3681
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8891 - loss: 0.2657 - val_accuracy: 0.8540 - val_loss: 0.3746
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8846 - loss: 0.2661 - val_accuracy: 0.8520 - val_loss: 0.3749
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8852 - loss: 0.2686 - val_accuracy: 0.8515 - val_loss: 0.3737
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8921 - loss: 0.2541 - val_accuracy: 0.8500 - val_loss: 0.3746
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8931 - loss: 0.2516 - val_accuracy: 0.8455 - val_loss: 0.3846
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8906 - loss: 0.2582 - val_accuracy: 0.8500 - val_loss: 0.3846
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8862 - loss: 0.2647 - val_accuracy: 0.8505 - val_loss: 0.3788
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8911 - loss: 0.2610 - val_accuracy: 0.8505 - val_loss: 0.3801
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8917 - loss: 0.2612 - val_accuracy: 0.8510 - val_loss: 0.3821
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8908 - loss: 0.2590 - val_accuracy: 0.8475 - val_loss: 0.3831
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8852 - loss: 0.2631 - val_accuracy: 0.8510 - val_loss: 0.3812
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8859 - loss: 0.2591 - val_accuracy: 0.8460 - val_loss: 0.3897
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8917 - loss: 0.2595 - val_accuracy: 0.8485 - val_loss: 0.3862
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8993 - loss: 0.2466 - val_accuracy: 0.8515 - val_loss: 0.3876
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8906 - loss: 0.2546 - val_accuracy: 0.8350 - val_loss: 0.4076
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8998 - loss: 0.2486 - val_accuracy: 0.8485 - val_loss: 0.3951
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8995 - loss: 0.2491 - val_accuracy: 0.8525 - val_loss: 0.3897
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8996 - loss: 0.2510 - val_accuracy: 0.8525 - val_loss: 0.3887
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8930 - loss: 0.2506 - val_accuracy: 0.8480 - val_loss: 0.3955
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8944 - loss: 0.2544 - val_accuracy: 0.8520 - val_loss: 0.3902
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8934 - loss: 0.2521 - val_accuracy: 0.8565 - val_loss: 0.3959
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8887 - loss: 0.2579 - val_accuracy: 0.8420 - val_loss: 0.3966
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8967 - loss: 0.2434 - val_accuracy: 0.8500 - val_loss: 0.3968
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8883 - loss: 0.2530 - val_accuracy: 0.8525 - val_loss: 0.3970
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9023 - loss: 0.2332 - val_accuracy: 0.8410 - val_loss: 0.4019
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8989 - loss: 0.2400 - val_accuracy: 0.8440 - val_loss: 0.4070
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9000 - loss: 0.2406 - val_accuracy: 0.8500 - val_loss: 0.4091
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9035 - loss: 0.2283 - val_accuracy: 0.8485 - val_loss: 0.4014
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8958 - loss: 0.2452 - val_accuracy: 0.8515 - val_loss: 0.4012
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8966 - loss: 0.2398 - val_accuracy: 0.8445 - val_loss: 0.4017
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8924 - loss: 0.2460 - val_accuracy: 0.8520 - val_loss: 0.4023
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9035 - loss: 0.2331 - val_accuracy: 0.8480 - val_loss: 0.4071
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8960 - loss: 0.2494 - val_accuracy: 0.8515 - val_loss: 0.4101
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8918 - loss: 0.2493 - val_accuracy: 0.8415 - val_loss: 0.4116
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9025 - loss: 0.2305 - val_accuracy: 0.8435 - val_loss: 0.4080
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8995 - loss: 0.2397 - val_accuracy: 0.8470 - val_loss: 0.4143
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8980 - loss: 0.2380 - val_accuracy: 0.8450 - val_loss: 0.4149
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8930 - loss: 0.2456 - val_accuracy: 0.8465 - val_loss: 0.4153
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8979 - loss: 0.2432 - val_accuracy: 0.8330 - val_loss: 0.4271
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9009 - loss: 0.2357 - val_accuracy: 0.8490 - val_loss: 0.4255
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8955 - loss: 0.2377 - val_accuracy: 0.8465 - val_loss: 0.4184
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8978 - loss: 0.2389 - val_accuracy: 0.8405 - val_loss: 0.4191
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8977 - loss: 0.2273 - val_accuracy: 0.8425 - val_loss: 0.4202
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9003 - loss: 0.2310 - val_accuracy: 0.8485 - val_loss: 0.4171
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9006 - loss: 0.2307 - val_accuracy: 0.8455 - val_loss: 0.4199
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8965 - loss: 0.2393 - val_accuracy: 0.8485 - val_loss: 0.4221
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9022 - loss: 0.2359 - val_accuracy: 0.8415 - val_loss: 0.4209
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9051 - loss: 0.2279 - val_accuracy: 0.8455 - val_loss: 0.4266
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9039 - loss: 0.2266 - val_accuracy: 0.8470 - val_loss: 0.4242
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9073 - loss: 0.2255 - val_accuracy: 0.8335 - val_loss: 0.4331
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.9001 - loss: 0.2331 - val_accuracy: 0.8470 - val_loss: 0.4275
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8992 - loss: 0.2376 - val_accuracy: 0.8435 - val_loss: 0.4272
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9053 - loss: 0.2221 - val_accuracy: 0.8420 - val_loss: 0.4311

In [293]:
model.save("model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [294]:
from tensorflow.keras.models import load_model

In [295]:
### Making prediction
model =load_model("model.h5")
#loading scaler 
with open("standardscaler.pkl", "rb") as f:
    standard =pickle.load(f)
with open("labelencoder_gender.pkl", "rb") as f:
    labelencoder =pickle.load(f)
with open("onehotencoder_geography.pkl", "rb") as f:
    ohe = pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [318]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,x0_France,x0_Germany,x0_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [319]:
# Example input data
inputdata ={
    "CreditScore": 619,
    "Geography": "France",
    "Gender": "Female",
    "Age": 42,
    "Tenure": 2,
    "Balance": 0.00,
    "NumOfProducts": 1,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "EstimatedSalary": 101348.88


}

In [320]:
geo =ohe.transform(np.array(inputdata["Geography"]).reshape(1,1)).toarray()
geo

array([[1., 0., 0.]])

In [321]:
geo =pd.DataFrame(geo, columns=ohe.get_feature_names_out())
geo

   x0_France  x0_Germany  x0_Spain
0        1.0         0.0       0.0

In [322]:
gen =label.transform(np.array(inputdata["Gender"]).reshape(1,1))
gen

c:\Users\faiqi\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [323]:
gen =pd.DataFrame(gen , columns=["Gender"])
gen

   Gender
0       0

In [324]:
input_df =pd.DataFrame({
    "CreditScore": [619],
    "Geography": ["France"],
    "Gender": ["Female"],
    "Age": [42],
    "Tenure": [2],
    "Balance": [0.00],
    "NumOfProducts": [1],
    "HasCrCard": [1],
    "IsActiveMember": [1],
    "EstimatedSalary": [101348.88]


})
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.0,1,1,1,101348.88

In [325]:
input_df.drop(columns =["Geography", "Gender"], inplace =True)

In [326]:
input_df =pd.concat([input_df, geo, gen], axis =1)
input_df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,x0_France,x0_Germany,x0_Spain,Gender
0,619,42,2,0.0,1,1,1,101348.88,1.0,0.0,0.0,0

In [328]:

input_df =standard.transform(np.array(input_df))
input_df =pd.concat([pd.DataFrame(input_df[:,0]), pd.DataFrame(input_df[:,-1]), pd.DataFrame(input_df[:,1:-1])], axis =1)

c:\Users\faiqi\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [329]:
input_df

,0,0,0,1,2,3,4,5,6,7,8,9
0,-0.338808,-0.576388,83.251125,-3.507959,-1.736467,-1.218455,-0.916688,0.649203,202762.668433,-1.746148,-0.998501,-0.579467

In [330]:
model.predict(input_df)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step

array([[1.]], dtype=float32)