## Python Syntax and Semantics

In [22]:
# case sensitive (python is case sensitive)
age =20
Age =30
print(age, Age)

20 30

In [23]:
# indentation
if age==20:
    print("Haha")
else:
    print("Hehe")

Haha

In [24]:
# Line continution
total_sales =10 + 20 + 30 + \
+ 40 + 50
print(total_sales)

150

In [25]:
# multiple statements
x =10; y =20; z =x+y
print(z)

30

## Variables

In [26]:
## declaring and initializing variables
age =21
height =5.9
name ="faiq"
is_student =True
# print variables
print(age, height, name, is_student)

21 5.9 faiq True

In [27]:
# checking type of variable
print(type(age), type(height), type(name), type(is_student))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [28]:
# naming conventions
# Must be desriptive age, name
# should start with letter or "_"

In [29]:
# Type conversion
age ="21"
print(int(age))

21

In [30]:
age ="Twenty"
print(int(age))

ValueError: invalid literal for int() with base 10: 'Twenty'

In [32]:
height =6.1
print(int(height))

6

In [33]:
age =21
print(float(age))

21.0

In [34]:
# Taking input from user
age =int(input())
print(age)

ValueError: invalid literal for int() with base 10: ''

## Data Types

In [35]:
# INTEGER
age =20
print(age, type(age))

20 <class 'int'>

In [36]:
# floating 
width =5.2
print(width, type(width))

5.2 <class 'float'>

In [37]:
# string
name ="faiq"
print(name, type(name))

faiq <class 'str'>

In [38]:
is_stud =True
print(is_student, type(is_student))

True <class 'bool'>

In [39]:
# common errors
print("Hello"+5)

TypeError: can only concatenate str (not "int") to str

In [40]:
# solution Type Casting
print("Hello" + str(5))

Hello5

## Operators in Python

In [41]:
# Arithmetic Operators
a =10
b =5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

15
5
50
2.0
2
100000

In [42]:
# Comparison Operators
a =10
b =5
print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

False
True
False
True
False
True

In [43]:
# Logical Operators
age =21
height =6.0
print(age>16 and height>5.5)
is_bs =True
is_skills =False
print(is_bs or is_skills)
not_muslim =True
print("Is_Muslim", not not_muslim)

True
True
Is_Muslim False

## List

In [44]:
# creating empty list
list =[]
print(list, type(list))

[] <class 'list'>

In [45]:
# making lust
list =["Faiq", 21, 5.9, 2.9]
print(list)

['Faiq', 21, 5.9, 2.9]

In [46]:
# Accessing elements
fruits =["grapes", "mango", "apple"]
print(fruits[0])

grapes

In [47]:
# indexing
fruits[0:2]

['grapes', 'mango']

In [48]:
fruits[0:2:2]

['grapes']

In [49]:
# modifying list
fruits[0] ="peach"
fruits

['peach', 'mango', 'apple']

In [50]:
# some list methods
fruits.append("watermelon")
fruits

['peach', 'mango', 'apple', 'watermelon']

In [51]:
fruits.insert(1, "banana")
fruits

['peach', 'banana', 'mango', 'apple', 'watermelon']

In [52]:
fruits.remove("banana")
fruits

['peach', 'mango', 'apple', 'watermelon']

In [53]:
# will remove last element and will return it
fruits.pop()

'watermelon'

In [54]:
# return index of element (throw error if not found)
fruits.index("apple")

2

In [55]:
fruits.sort()
fruits

['apple', 'mango', 'peach']

In [56]:
fruits.reverse()
fruits

['peach', 'mango', 'apple']

In [57]:
# remove all items
fruits.clear()
fruits

[]

In [58]:
# iterating over list
fruits =["grapes", "mango", "apple"]
for fruit in fruits:
    print(fruit)

grapes
mango
apple

In [59]:
# iterating with index
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 grapes
1 mango
2 apple

In [60]:
# List comprehension
# program to insert sqaure of first 100 number in  list
l =[]
for i in range(1, 101):
    l.append(i**2)
l

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [61]:
# short way
l =[i**2 for i in range(1, 101)]
l

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [62]:
# with condition 
# add odd number from 1 to 10
l =[i for i in range(1, 11) if i%2!=0]
l

[1, 3, 5, 7, 9]

In [63]:
# Nested List Comprehension
# making 2d list of 5 * 5
li =[[0 for i in range(5)] for j in range(5)]
li

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

## Tuples

In [64]:
# creating empty tuples
t1 =()
t2 =tuple()
print(t1, t2, type(t1), type(t2))

() () <class 'tuple'> <class 'tuple'>

In [65]:
# ways of creating tuple
li =[1,2,3]
print(tuple(li))
t3 =(1,2,3)
print(t3)

(1, 2, 3)
(1, 2, 3)

In [66]:
# can contain multiple datatypes
mixed_tuple =(1, 2.3, "faiq", True)
mixed_tuple

(1, 2.3, 'faiq', True)

In [67]:
# Accessing Elements
mixed_tuple[0]

1

In [68]:
mixed_tuple[-1]

True

In [69]:
mixed_tuple[0:3]

(1, 2.3, 'faiq')

In [70]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [71]:
# Operations on tuple
t1 =(1, 2)
t2 =(4, 5)
t1 + t2

(1, 2, 4, 5)

In [72]:
# repition
t1 * 5

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [74]:
# Tuple is immutable
t1 =(1,2)
t1[0] =3

TypeError: 'tuple' object does not support item assignment

In [75]:
t1 =(1,2,3,1,5,5)

In [76]:
# tuple methods
t1.count(1)

2

In [77]:
t1.index(1)

0

In [78]:
# packing and unpacking tuples
# packing 
tup ="Faiq", 1, 2.3
tup

('Faiq', 1, 2.3)

In [79]:
# unpacking
a, b, c =tup
print(a, b, c)

Faiq 1 2.3

In [80]:
tup

('Faiq', 1, 2.3)

In [81]:
# unpacking with *
tip =("Faiq", 1, 2.3, True)
a, *b, c =tip
print(a, b, c)

Faiq [1, 2.3] True

In [82]:
# nested tuple
t1 =((1,2,3), (4, 5, 6))
t1

((1, 2, 3), (4, 5, 6))

In [83]:
# iterating over nested tuple
for i in t1:
    for j in i:
        print(j, end=" ")

    print()

1 2 3
4 5 6

## Sets

In [85]:
# creating an empty set
s =set()
s

set()

In [86]:
# creating set
s =set([1,1,2,3,4])
s

{1, 2, 3, 4}

In [87]:
# Adding in sets
s.add("Faiq")
s

{1, 2, 3, 4, 'Faiq'}

In [88]:
# remove from sets
s.remove(3)

In [89]:
s

{1, 2, 4, 'Faiq'}

In [90]:
# removing element which is not present 
s.remove(11)

KeyError: 11

In [91]:
s.discard(11)

In [92]:
# first in first out
s.pop()

1

In [93]:
# set membership test
print(2 in s)

True

In [98]:
# Mathematical Operations
set1 ={1,2,3,4}
set2 ={2,4,5,6,8}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 8}
{2, 4}
{1, 3}
{2, 4}

In [99]:
set1 ={1,2,3,4}
set2 ={2,4,5,6,8}
print(set1.symmetric_difference(set2))

{1, 3, 5, 6, 8}

In [100]:
print(set1.issubset(set2))

False

## Dictionaries

In [101]:
# two ways of creating empty dictionary
dic ={}
print(dic, dict())

{} {}

In [103]:
# creating dict
d ={"name":"Faiq", "age": 21}
print(d)

{'name': 'Faiq', 'age': 21}

In [105]:
# key is to be unique
d ={"name": "Faiq", "age": 21, "name": "Rauf"}
print(d)

{'name': 'Rauf', 'age': 21}

In [108]:
# accessing dic elements
print(d["name"])

Rauf

In [109]:
# if key not present
d["lastname"]

KeyError: 'lastname'

In [110]:
# use get method
# 2nd argument is in case if key is not found
d.get("lastname", "Not Present")

'Not Present'

In [114]:
# modifying dict elements
d["name"] ="faiq"

In [115]:
# adding new key valye pair
d["hobby"] ="cricket"

In [116]:
# removing elementd
del d["name"]
d

{'age': 21, 'hobby': 'cricket'}

In [118]:
# common dict methods
# to get all keys
keys =d.keys()
print(keys)
# to get all values
val =d.values()
print(val)
# getting both key value pair
print(d.items())

dict_keys(['age', 'hobby'])
dict_values([21, 'cricket'])
dict_items([('age', 21), ('hobby', 'cricket')])

In [121]:
# copying dict
d2 =d
print(d, d2)

{'age': 21, 'hobby': 'cricket'} {'age': 21, 'hobby': 'cricket'}

In [123]:
# changing in d2
d2["hobby"] ="football"
# changes reflect on both 
print(d2, d)

{'age': 21, 'hobby': 'football'} {'age': 21, 'hobby': 'football'}

In [124]:
# should use shallow copy
d2 =d.copy()
print(d2, d)

{'age': 21, 'hobby': 'football'} {'age': 21, 'hobby': 'football'}

In [126]:
d2["hobby"] ="cricket"
print(d2, d)

{'age': 21, 'hobby': 'cricket'} {'age': 21, 'hobby': 'football'}

In [132]:
# iterating over dict keys
for i in d.keys():
    print(i)

age
hobby

In [133]:
# iterating over values
for i in d.values():
    print(i)

21
football

In [135]:
# iterate over dict items
for k, v in d.items():
    print(f"{k}: {v}")

age: 21
hobby: football

In [143]:
# nested dict
students ={"std1": {"name": "Faiq", "age": 21}, "std2":{"name":"Rauf", "age": 25}}

In [144]:
students

{'std1': {'name': 'Faiq', 'age': 21}, 'std2': {'name': 'Rauf', 'age': 25}}

In [145]:
# Access nested dict elemets
students["std1"]["name"]

'Faiq'

In [148]:
# iterating over nested dict
for stud, info in students.items():
    print(stud)
    for i, j in info.items():
        print(f"{i}: {j}")
    print("--")
    print("--")

std1
name: Faiq
age: 21
--
--
std2
name: Rauf
age: 25
--
--

In [159]:
# dictionary comprehension
sqaures ={x:x**2 for x in range(10)}
sqaures

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [163]:
# Merge two dict 
d1 ={"name": "faiq"}
d2 ={"age": 21}
d3 ={**d1, **d2}

In [164]:
d3

{'name': 'faiq', 'age': 21}

## Functions

In [1]:
# creating add function
def add(a, b):
    """This funct add two numbers"""
    return a + b

In [2]:
add(2,3)

5

In [6]:
# default parameter (what if argument is not pass)
def greet(name ="Programmer"):
    print(f"Hy {name}")

In [8]:
greet("Faiq")

Hy Faiq

In [7]:
greet()

Hy Programmer

In [18]:
# variable Length arguments
def add(*args):
    sum =0
    # args is tuple now
    for i in range(len(args)):
        sum +=args[i]
    return sum

In [19]:
add(2,3,4, 5)

14

In [20]:
add(2)

2

In [21]:
add()

0

In [26]:
# keywords arguments
def disp_info(**kwargs):
    for k, v in kwargs.items():
        print(f"Name:{k}\nDept:{v}")
        print("--")

In [27]:
disp_info(Faiq="Data Science", Rauf= "Pharmacy")

Name:Faiq
Dept:Data Science
--
Name:Rauf
Dept:Pharmacy
--

## Function Examples

In [33]:
# temp converter
def temp_converter(temp, curr_unit):
    if curr_unit.lower()=="c":
        return (9/5 * temp) + 32
    elif curr_unit.lower()=="f":
        return (temp - 32) * 5/9
    else:
        raise Exception("Enter Proper Unit")

In [34]:
temp_converter(37, "c")

98.60000000000001

In [35]:
temp_converter(98, "f")

36.666666666666664

In [44]:
# password strength checker
def pass_checker(p):
    if len(p)<8:
        return False
    if not any(i.isdigit() for i in p):
        return False
    if not any(i.islower() for i in p):
        return False
    if not any(i.isupper() for i in p):
        return False
    return True

In [47]:
pass_checker("Hehe1ajcbahcbah")

True

In [49]:
# total cost of items in cart
def cal_totalcost(cart):
    total_cost =0
    for i in cart:
        total_cost +=(i["price"] * i["quantity"])
    return total_cost



cart =[{"name": "Apple", "price": 10, "quantity": 12},
       {"name": "Banana", "price": 5, "quantity": 10}]
print(cal_totalcost(cart))

170

In [50]:
# calculating of number using factorial
def fact(n):
    if n==0:
        return 1
    return n * fact(n-1)

In [51]:
fact(5)

120

## Lambda Function

In [ ]:
# syntax
# lambda paramters: expression

In [55]:
add =lambda a, b: a+b
print(type(add))

<class 'function'>

In [56]:
# calling lambda function
add(2,3)

5

In [57]:
# even or odd
is_even =lambda x: x%2==0

In [58]:
is_even(2)

True

## Map
### Syntax: map(funct, iterable)

In [61]:
def sqaure(num):
    return num * num

In [62]:
sqaure(3)

9

In [63]:
# more good way
m =map(sqaure, [1,2,3])
m

In [64]:
list(m)

[1, 4, 9]

In [65]:
# Map with lambda function
list(map(lambda x: x*x, [1,2,3]))

[1, 4, 9]

In [66]:
# map multiple iterable
list(map(lambda x, y: x+y, [1,2,3], [4,5,6]))

[5, 7, 9]

In [68]:
# map to covert list of string to numbers
list(map(int, ['1', '2', '3']))

[1, 2, 3]

In [69]:
names =["faiq", "rauf", "ali"]
list(map(str.upper, names))

['FAIQ', 'RAUF', 'ALI']

## filter
### syntax: filter(funct: iterable)

In [70]:
def even(number):
    return number%2==0

In [73]:
f =filter(even, [1,2,3,4,5,6])
f

In [74]:
list(f)

[2, 4, 6]

In [80]:
numbers =[1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x>5, numbers))

[6, 7, 8, 9, 10]

In [84]:
# filter with multiple conditions
list(filter(lambda x: x>5 and x%2==0, numbers))

[6, 8, 10]

In [87]:
# filter in dict 
def get_greaterthan25(rec):
    return rec["age"]>21
dictionary =[{"name": "Faiq", "age": 21}, {"name": "Rauf", "age": 30}]
list(filter(get_greaterthan25, dictionary))

[{'name': 'Rauf', 'age': 30}]

## Modules and Packages

In [88]:
import math
math.sqrt(25)

5.0

In [91]:
# importing everything from math module
from math import *
sqrt(25)

5.0

In [90]:
# import lib as alias
import math as m
m.sqrt(25)

5.0

In [92]:
# importing custom module from package
from package.maths import *
add(2,3,4)

9

## Standard Library

In [97]:
# random
import random
# will return random number between 1 an 10
random.randint(1,10)

2

In [99]:
# choice --> Select randomly from iterable
random.choice([1,2,3])

2

In [100]:
# File and directory access
import os
# to get current working directory
os.getcwd()

'c:\\Users\\faiqi\\OneDrive\\Desktop\\course'

In [101]:
# to make dir
os.mkdir("new")

In [107]:
# Data Serilization
import json
st =json.dumps({"name": "Faiq", "age": 21})
print(st, type(st))
original =json.loads(st)
print(original, type(original))

{"name": "Faiq", "age": 21} <class 'str'>
{'name': 'Faiq', 'age': 21} <class 'dict'>

In [108]:
# csv
import csv
# writing to csv file
with open("test.csv", mode="w", newline="") as file:
    w =csv.writer(file)
    w.writerow(["Faiq", "Data Science"])
    w.writerow(["Rauf", "Pharmacy"])
# reading it
with open("test.csv", mode="r") as file:
    reader =csv.reader(file)
    for i in reader:
        print(i)

['Faiq', 'Data Science']
['Rauf', 'Pharmacy']

## File Handling